@font-face {
    font-family: Roboto;
    src: url(./font/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Playfair-display;
    src: url(./font/PlayfairDisplay-VariableFont_wght.ttf);
}


*{
    box-sizing: border-box;
    border:2px solid red;
    margin:5px;
}

img{
    max-width: 300px;
    width: 100%;
    height: auto;
}

:root{
    --width-page: 70%;
    --margin-center: 0 auto;
}



.container-1{
    background: linear-gradient(169.9deg, #578fca 60%, white 40% 100%);
}

.about-me{
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 3rem auto;

}




/* FIRST CONTAINER: IMAGE */
.about-me__img{
    width: 70%;
}



/* FIRST CONTAINER: TITLE/DESCRIPTION/ICONS */

.about-me__descr{
    padding:1rem;
    max-width: 550px;
    
}

.about-me__descr h1{
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.about-me__descr__para{
    display: inline;
    width: 50%;
}

/* FIRST CONTAINER: TITLE/DESCRIPTION/ICONS */

