*{
    box-sizing: border-box;
    border:2px solid red;
    margin:5px;
}

html,body{
    height: 100%;
}

img{
    max-width: 300px;
    width: 100%;
    height: auto;
}

:root{
    --width-page: 70%;
    --margin-center: 0 auto;
}

.container-1{
    width: var(--width-page);
    margin: 3rem auto;
}

.about-me{
    display: flex;
}

.about-me__descr{
    padding:1rem;
}

.about-me__img{
    width: 70%;
}

.about-me__descr__para{
    width: 50%;
}

