@font-face {
    font-family: Roboto;
    src: url(./font/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Playfair-display;
    src: url(./font/PlayfairDisplay-VariableFont_wght.ttf);
}

*{
    box-sizing: border-box;
    border:2px solid red;
    margin:5px;
}

img{
    display: block;
    width: 100%;
    max-width: 50px;
}

html,body{
    margin:0;
    padding:0;
}



.container-1 img{
    max-width: 300px;
    width: 100%;
}

.container-1{
    background: linear-gradient(169.9deg, #37afe1 540px, white 70px);
}


.about-me{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
    padding: 2rem 0 5rem 0;
}



/* FIRST CONTAINER: TITLE/DESCRIPTION/ICONS */

.about-me__descr{
    padding:1rem;
    max-width: 600px;
    align-self: center;
    box-shadow: 2px 2px 2px 2px black;
}

.about-me__descr h1{
    margin: 2rem 0 2rem 0;
    font-size: 40px;
    font-family: 'Roboto';
}

.about-me__descr__para{
    display: inline;
    font-size: 23px;
    font-family: 'Playfair-display';
}

/* FIRST CONTAINER: TITLE/DESCRIPTION/ICONS */


/* ICONS */

.about-me__descr__icons{
    display: flex;
    justify-content: end;
    margin-top: 3rem;
    gap:1rem;
}

.icon1{
    background-image: url('./img/github-142-svgrepo-com.svg');
    background-size:contain;
    height: 2rem;
    width: 2rem;
}

.icon2{
    background-image: url('./img/linkedin-rounded-svgrepo-com.svg');
    background-size:contain;
    height: 2rem;
    width: 2rem;
}

.icon3{
    background-image: url('./img/twitter-154-svgrepo-com.svg');
    background-size:contain;
    height: 2rem;
    width: 2rem;
}



/* FINISH ICONS */


/* MY WORK CONTAINER */

.container-2__div{
    padding:0 1rem 0 0;
}

.container-2__title{
    display: flex;
    justify-content: start;
    padding: 2rem 0 2rem 0;
}


.my-work{
    padding:0;
}
/* END OF MY WORK CONTAINER */